{% extends 'base.html.twig' %}
{% set menu = 'main' %}

{% block head %} <link href="extended_css/main.css" rel="stylesheet"> {% endblock %}
{% block title %} Sample Page {% endblock %}

{% block content %}

    <div class="starter-template">
        <h1>Sample Site </h1>
        <p class="lead">Test site utilizing Docker, Composer, Twig (no symfony core).
    </div>

{% endblock %}

